<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %}</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'home/bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/bootstrap/css/dashboard.css' %}">
	<script src="{% static 'home/bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'home/bootstrap/js/bootstrap.js' %}"></script>
	<script src="{% static 'home/bootstrap/js/masonry.pkgd.js' %}"></script>
	<script src="{% static 'home/bootstrap/js/script.js' %}"></script>
</head>
<body>
<div class="container">
{% if form %}
<form role="form" action="" method="post">
  <div class="form-group">
    {{ form.password.errors }}
    <label for="Email">Password</label>
    {{ form.password }}
  </div>
  <div class="form-group">
    {{ form.retype_password.errors }}
    <label for="Email">Retype Password</label>
    {{ form.retype_password }}
  </div>
    {% csrf_token %}
  <button type="submit" class="btn btn-default">Change Password</button>
</form>
{% endif %}
{% if message %}
<div class="row" style="margin-top:20px"><div class="col-md-12"><div class="alert alert-danger">{{message}}</div></div></div>
{% endif %}
</div>
</body>
</html>
